/**
┌───────────────────────────────────────────┐
│ ┓ ┳┳━┓┓ ┳┳━┓┳━┓┳━┓  ┓━┓┏┓┓┓ ┳┳  ┳━┓       │
│ ┃┃┃┃━┫┗┏┛┃━┃┃━┫┃┳┛  ┗━┓ ┃ ┗┏┛┃  ┣━        │
│ ┗┻┇┛ ┇ ┇ ┇━┛┛ ┇┇┗┛  ━━┛ ┇  ┇ ┇━┛┻━┛       │
└───────────────────────────────────────────┘
- Maintainer: Daniel Berg <mail@roosta.sh>  -
- Repo: https://github.com/roosta/dotfiles  -
---------------------------------------------
**/

/* https://github.com/srcery-colors/srcery-gui/blob/master/gtk/srcery.css */
@import url("../srcery/srcery-gui/gtk/srcery.css");

* {
  /* https://github.com/be5invis/Iosevka */
  /* https://github.com/ryanoasis/nerd-fonts */
  font-family:  Iosevka, Symbols Nerd Font, Roboto, Helvetica, Arial, sans-serif;
}

/* Bar, outputs */
window#waybar {
  color: @srcery-bright-white;
  background: @srcery-black;
  font-size: 15px;
}
 window#waybar.tv {
  font-size: 18px;
}

window#waybar.hidden {
  opacity: 0.2;
}


box {
  margin: 0px;
}

/* modules */
#backlight,
#battery,
#clock,
#custom-media,
#tray,
#custom-power,
#custom-app-menu-left,
#custom-app-menu-right,
#idle_inhibitor,
#disk,
#mode,
#scratchpad,
#cpu,
#temperature,
#memory,
#custom-power,
#custom-settings-menu-left,
#custom-settings-menu-right,
#custom-notification,
#pulseaudio,
#cpu,
#memory,
#systemd-failed-units,
#temperature,
#language,
#clock.module.time,
#idle_inhibitor,
#wireplumber {
  padding: 4px 8px;
  margin: 0;
  border-radius: 2px;
  /* padding: 0px 6px; */
  /* background-color: @srcery-xgray1; */
  color: @srcery-bright-white;
}

button {
  border: none;
  transition-property: background-color;
  transition-duration: 0.2s;
}

@keyframes blink {
  to {
    background-color: @srcery-xgray4;
  }
}

tooltip {
  background: @srcery-xgray1;
  border-radius: 2px;
  border: 1px solid @srcery-xgray3;
}

tooltip label {
  color: @srcery-bright-white;
}

#custom-app-menu-left:hover,
#custom-app-menu-right:hover,
#custom-power:hover,
#custom-settings-menu-left:hover,
#custom-settings-menu-right:hover,
#custom-notification:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#clock.module.time:hover,
#pulseaudio:hover,
#language:hover,
#idle_inhibitor:hover {
  background-color: @srcery-xgray1;
  transition-property: background-color;
  transition-duration: 0.2s;
}

/* Hyprland: {{{ */
/* -------------------------------------------------------------------------- */
window#waybar #window {
  font-size: 0.8rem;
  /* color: @srcery-white; */
  background: none;
  padding: 0 4px;
}

/* window#waybar.empty #window { */
/*   background: transparent; */
/*   padding: 0; */
/*   margin: 0; */
/* } */

/* Remove padding for empty workspace buttons */
/* window#waybar.empty #workspaces button.empty, */
/* window#waybar.empty #workspaces button.persistent.empty { */
/*   padding-right: 2px; */
/*   padding-bottom: 0; */
/*   padding-top: 0; */
/* } */

/* Remove spacing margin for last and first child to avoid double up padding */
#workspaces button:first-child {
  margin-left: 0;
}
#workspaces button:last-child {
  margin-right: 0;
}

#workspaces {
  /* padding: 4px; */
}

#workspaces button {
  /* padding: 2px 10px 2px 10px; */
  /* margin: 0 3px 0 0; */
  /* background-color: @srcery-xgray1; */
  color: @srcery-bright-white;
  border-radius: 2px;
  /* font-size: 1rem; */
}

#workspaces button:hover {
  background: @srcery-xgray1;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active:hover, button.visible:hover {
  background: @srcery-xgray2;
}

#workspaces button.active {
  /* background-image: linear-gradient(45deg, @srcery-blue, @srcery-magenta); */
  background: @srcery-xgray1;
  color: @srcery-bright-magenta;
}


#workspaces button.urgent {
  color: @srcery-yellow;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

window#waybar #submap {
  font-size: 0.8rem;
  background-color: @srcery-black;
  color: @srcery-bright-white;
}

/* window#waybar.fullscreen { */
/*   background: @srcery-xgray1; */
/* } */


/* }}} */
/* Indicators: {{{  */
/* -------------------------------------------------------------------------- */

#keyboard-state,
#privacy-item,
#privacy,
#gamemode,
#network {
  color: @srcery-bright-white;
  padding: 4px 8px;
}

#network.disconnected {
  color: @srcery-bright-orange;
  font-weight: bold;
}

#privacy-item.screenshare {
  color: @srcery-bright-orange;
}

#privacy-item.audio-in {
  color: @srcery-yellow;
}

#privacy-item.audio-out {
}

#keyboard-state {
  color: @srcery-bright-white;
}

#keyboard-state > label {
}

#keyboard-state > label.locked {
  color: @srcery-yellow;
}

#systemd-failed-units {
  color: @srcery-bright-red;
  font-weight: bold;
  /* margin-left: 0.5rem; */
}

/* }}} */
/* Buttons: {{{ */
/* -------------------------------------------------------------------------- */

#idle_inhibitor {
  /* font-size: 0.8rem; */
}

#idle_inhibitor.activated {
  color: @srcery-magenta;
  font-size: 1rem;
  font-weight: bold;
}


#idle_inhibitor:hover {
  background-color: @srcery-xgray1;
}

#power-delimiter {
  background-color: @srcery-bright-white;
}

#custom-app-menu-left, #custom-app-menu-right {
  margin: 0;
  font-size: 1.2rem;
}

#idle_inhibitor {
  margin: 0;
}

#custom-notification {
  margin: 0;
}

#custom-notification {
  /* padding: 0 10px; */
  /* font-size: 1.1rem; */
}


/* }}} */
/* Clock {{{ */
/* -------------------------------------------------------------------------- */

#clock {
  /* font-size: 0.8rem; */
}

/* }}} */
/* Audio: {{{ */
/* -------------------------------------------------------------------------- */

#audio-output:hover {
  background: @srcery-xgray1;
}

#audio { }
#pulseaudio { }

#pulseaudio:hover {
  background-color: @srcery-xgray1;
}

#pulseaudio.module.output.muted {
  color: @srcery-bright-yellow;
}

#pulseaudio.module.input.source-muted {
  color: @srcery-bright-yellow;
}

#pulseaudio-slider {
  padding: 0 0 0 12px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 14px;
  min-width: 80px;
  border-radius: 4px;
  border: none;
  background-color: @srcery-black;
}

#pulseaudio-slider highlight {
  min-width: 2px;
  min-height: 14px;
  border: none;
  border-radius: 4px;
  background-color: @srcery-blue;
}

/* }}} */
/*  Meters {{{ */
/* -------------------------------------------------------------------------- */

#temperature {
  /* color: @srcery-bright-blue; */
  font-size: 1.2rem;
}

#temperature.critical {
  color: @srcery-red;
}

#cpu {
  /* color: @srcery-bright-green; */
  font-size: 1.2rem;
}

#memory {
  /* color: @srcery-bright-cyan; */
  font-size: 1.2rem;
}

/* }}} */
/* Tray: {{{ */
/* -------------------------------------------------------------------------- */

#tray {}
#custom-trayicon {
  font-size: 1.2rem;
  padding: 4px;
}
#tray:hover {
  background: @srcery-xgray1;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @srcery-bright-magenta;
}

/* }}} */

/* vim: set ts=2 sw=2 tw=80 fdm=marker et : */
